.calculator {
  width: 300px;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px gray;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  width: 68px;
  height: 68px;
  font-size: 24px;
  margin: 5px;
  cursor: pointer;
}

input {
  width: 95%;
  font-size: 24px;
  padding: 10px;
  text-align: right;
  margin-bottom: 20px;
}
